<!DOCTYPE HTML>
<html lang="pl">
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <title>Tytuł strony</title>
    </head>
    <body>
        <div class="container">
            <div class="heading">
                <h1>Title heading</h1>
            </div>
            <div class="date">
                Dec 7, 2017
            </div>
            <div class="description">
                <p>Some text...</p>
            </div>
        </div>
    </body>
</html>